@using CC.UI.Webhost.Models
@model IList<CC.UI.Webhost.Models.VolunteerTask>

@{
    ViewBag.Title = "Index";
}

<div class="title">volunteer tasks | @Html.ActionLink("new", "Create") | @Html.ActionLink("back", "Admin", "Home")</div>

@foreach (VolunteerTask task in ViewData.Model)
{
        <div class="box">
            &nbsp; @Html.ActionLink(string.Format("{0} {1} - {2}", task.Description, task.StartTime.ToShortTimeString(), task.EndTime.ToShortTimeString()), "Edit", new { id = task.Id })
            <br/>
            &nbsp; Capacity: @string.Format("{0}", task.Capacity)    
        </div>
        <br/>
}

<script src="../../Scripts/jquery.animate-shadow-min.js" type="text/javascript"></script>
<script>
    $(function () {
        $('.box').animate({ boxShadow: '2 2 5px #6495ED' });
        // $('.box').animate({ boxShadow: '0 0 30px #44f' });
        // $('.box').onmouseover.stop().animate({boxShadow: '0 0 50px'}, 'fast');
        // $('.box').onmouseout.stop().animate({boxShadow: '0 0 0'}, 'fast');
    });
    
</script>