@using CC.UI.Webhost.Models;

@model IEnumerable<CC.UI.Webhost.Models.Session>

@{
    ViewBag.Title = "My Sessions";
}

<div class="title">my sessions | @Html.ActionLink("new session", "Create")</div>

@foreach (var item in Model)
{
    <br />
    <div class="field-value">
        @Html.ActionLink(item.Name, "Edit", new { id = item.ID })
    </div>
    <div class="subtitle">level @Html.DisplayFor(modelItem => item.Level), status @Html.DisplayFor(modelItem => item.Status)</div>
} 