@{
    ViewBag.Title = "FAQ";
}

<div class="title">F.A.Q.</div>

<div>
    <p>
        Q. When and where is Seattle Code Camp?<br />
        A. The 15th Annual Seattle Code Camp will he held on September 10th, 2016 at Seattle University located at 901 12th Avenue, Seattle, WA 98122.
    </p><p>&nbsp;</p>
</div>

<div>
    <p>
        Q. What is Seattle Code Camp?<br />
        A. Seattle Code Camp is one day learning event for programming professionals and students with a focus on coding, databases and related technologies. This is a "grass roots" mini application platform developer conferences, free to attendees and open to presenters of all stripes and experience.
    </p><p>&nbsp;</p>
</div>

<div>
    <p>
        Q. How much does it cost to attend?<br />
        A. Code Camp is free to attendees. Attendees will also be provided with free breakfast, lunch, and snacks throughout the day.
    </p><p>&nbsp;</p>
</div>
<div>
    <p>
        Q. Who is behind the Seattle Code Camp?<br />
        A. The Seattle Code Camp is organized by the <a href="http://dotnetda.org">.NET Developers Association</a>.
    </p><p>&nbsp;</p>
</div>

<div>
    <p>
        Q. Who can attend?<br />
        A. Anyone interested in the <a href="http://seattlecc.azurewebsites.net/Home/Sessions">sessions</a> can <a href="http://seattlecc.azurewebsites.net/Account/LogOn">signup to attend</a>. Attendees can signup beginning August 1st 2016 until the day before Code Camp.
    </p><p>&nbsp;</p>
</div>

<div>
    <p>
        Q. How does speaker approval process work?<br />
        A. Individual with expertise in any area/technology may <a href="http://seattlecc.azurewebsites.net/Session/SpeakerSessions">signup to speak</a>. We welcome speakers of all experience levels including first time speakers. Speaker signup starts on June 7th, 2016. A speaker may submit multiple sessions but we usually only approve one session per speaker. Speakers are notified on or after August 28th 2015. If for some reason, speakers are unable to fulfil their committment we ask that you contact us immediately at <a href="mailto:slobo@dotnetda.org">slobo@dotnetda.org</a>.
    </p><p>&nbsp;</p>
</div>

<div>
    <p>
        Q. Do you provide room and boarding?<br />
        A. Code Camp is a voluntary event with the meals/refreshments paid by sponsors. We do not pay for room and boarding for our attendees or speakers.
    </p><p>&nbsp;</p>
</div>

<div>
    <p>
        Q. Do you have any special hotel deals for out-of-town attendees/speakers?<br />
        A. We do not.
    </p><p>&nbsp;</p>
</div>
<div>
    <p>
        Q. Where can I find sponsorship information?<br />
        A. Check out the <a href="@Url.Content("~/Content/Documents/Seattle Code Camp 2016 Contributor Information.pdf")">sponsor package</a>.
    </p><p>&nbsp;</p>
</div>
