@using CC.UI.Webhost.Models;

@model List<Speaker>

@{
    ViewBag.Title = "Speakers";
    var alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
    var count = 1;
}

<div class="title">speakers</div>
<a name="top">&nbsp;</a><br />

@if (ViewBag.Event.IsSpeakerRegistrationOpen)
{
    <div>
        Click @Html.ActionLink("here", "SpeakerSessions", "Session") here for speaker registration. 
        <br />
        The following speakers have signed up to speak at the event. Sessions are not yet approved.
    </div>
        <div style="clear: both"></div>
            <div>&nbsp;</div>
        <div style="clear: both"></div>
}

    <div>
@foreach (var speaker in ViewData.Model)
{
            <div style="float:left;width:60px">
                <a href="@Url.Action( "Details", "Speaker", new { id = speaker.ID })">
                    <div>
                        @Html.ImageTag(speaker.Image, speaker.ImageUrl, speaker.FullName, 60, 60, speaker.FullName)
                        <div style="position: relative; top: 0px; left: 0px;">@speaker.FullName
                        </div>
                    </div>
                </a>
            </div>
            <div style="float:left;width:60px">
                &nbsp;
            </div>


        if (count % 5 == 0)
        {
        <div style="clear: both"></div>
        <div>&nbsp;</div>
        <div style="clear: both"></div>
        }
    count++;
}

    </div>
