@{
    ViewBag.Title = "Index";
}

<h2>Data Service Tester</h2>
<p><a href="Dataservice.svc">List of Methods</a></p>

<p><a href="Dataservice.svc/Sessions">List of Sessions</a></p>

<p><a href="Dataservice.svc/Sessions(1)">Single Session</a></p>

<p><a href="Dataservice.svc/Sessions(1)/SessionAttendees">Session attendees</a></p>

<p><a href="Dataservice.svc/Sessions(1)?$select=SessionAttendees/*&$expand=SessionAttendees">Session attendees (expanded)</a></p>

<p><a href="Dataservice.svc/Sessions(1)/SessionAttendees(2)/Person">Session Attendee</a></p>

<h2>Client Methods</h2>
<p>@Html.ActionLink("Sessions","sessions")</p>

