<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="CodeCamp">
      <section name="mailChimp" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="OCC2012" providerName="System.Data.SqlClient" connectionString="Server=tcp:codecamp.database.windows.net,1433;Database=Prod_CodeCamp;User ID=slobo80@codecamp;Password=hDci16IFLzxydkwviitr;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>

  <CodeCamp>
    <mailChimp>
      <add key="apiKey" value="" />
      <add key="trackClicks" value="true" />
      <add key="trackOpens" value="true" />
      <add key="fromAddress" value="" />
      <add key="replyToAddress" value="" />
    </mailChimp>
  </CodeCamp>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp from="" deliveryMethod="Network">
        <network host="" userName="" password="" port="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
