@using OCC.UI.Webhost.Infrastructure
@using Microsoft.Web.Helpers
@model OCC.UI.Webhost.Models.TweetViewModel

<div class="@Model.ActiveCssClass">
    <div class="tweetWrapper">
        @*@Twitter.Search("#OrlandoCC OR ONETUG", width: 290, height: 200, backgroundShellColor: "138FCB", tweetsBackgroundColor: "138FCB", tweetsColor: "rgb(255,255,255)", tweetsLinksColor: "FBDD06", interval: 10)*@
        <a class="twitter-timeline" href="https://twitter.com/search?q=%23OrlandoCC" width="290" height="500" data-chrome="nofooter noscrollbar" data-related="onetug" data-widget-id="403285393182687234" data-tweet-limit="1">#OrlandoCC Tweets</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
</div>

