@using OCC.UI.Webhost.Models
@model OCC.UI.Webhost.Models.TwitterMetroTileViewModel
           
<div id="twitterTile" class="doubleTile @Model.TileBackgroundCssClass">
    <div id="mainTwitterContent">
        @foreach(TweetViewModel tweet in Model.Tweets) {
            tweet.ActiveCssClass = Model.Tweets.IndexOf(tweet) < 1 ? "tweetVisible" : "tweetHidden";
            @Html.Partial("_tweet", tweet)
        }
    </div>
    <div class="tileFooter">
        <a href="https://twitter.com/intent/tweet?button_hashtag=SeattleCC" class="twitter-hashtag-button hashtagButton" data-related="NETDA">Tweet #SeattleCC</a>
        <script type="text/javascript">
            !function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>

        <div class="followButton">
            <a href="https://twitter.com/netda" class="twitter-follow-button" data-show-count="false">
                Follow @@netda
            </a>
            <script type="text/javascript">
                !function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if(!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
            </script>
        </div>
    </div>
</div>