@{
    ViewBag.Title = "FAQ";
}

<div class="title">F.A.Q.</div>

<div><p>Q. When and where is Orlando Codecamp?<br />
A. The 10th Annual Orlando Codecamp will he held on March 28, 2015 at Seminole State College located at 100 Weldon Blvd, Sanford, FL 32746.</p><p>&nbsp;</p></div>

<div><p>Q. What is Orlando Codecamp?<br />
A. Orlando Codecamp is a free, one day learning event for programming professionals and students with a focus on coding, databases and related technologies. This is a "grass roots" mini application platform developer conferences, free of charge to attendees and open to presenters of all stripes and experience.</p><p>&nbsp;</p></div>

<div><p>Q. How much does it cost to attend?<br />
A. Codecamp is free to attendees. Attendees will also be provided with free lunch.</p><p>&nbsp;</p></div>

<div><p>Q. Who is behind the Orlando Codecamp?<br />
A. The Orlando Codecamp is organized by the <a href="http://www.onetug.org">Orlando .NET User Group</a>.</p><p>&nbsp;</p></div>

<div><p>Q. Who can attend?<br />
A. Anyone interested in the <a href="http://www.orlandocodecamp.com/Home/Sessions">sessions</a> can <a href="http://www.orlandocodecamp.com/Account/LogOn">signup to attend</a>. Attendees can signup beginning February 1st 2015 until the day before Codecamp.</p><p>&nbsp;</p></div>

<div><p>Q. How does speaker approval process work?<br />
A. Individual with expertise in any area/technology may <a href="http://www.orlandocodecamp.com/Session/SpeakerSessions">signup to speak</a>. We welcome speakers of all experience levels including first time speakers. Speaker signup ends January 25th 2015. A speaker may submit multiple sessions but we usually only approve one session per speaker. Speakers are notified on or after February 1st 2015. If for some reason, speakers are unable to fulfil their committment we ask that you contact us immediately at <a href="mailto:community@onetug.org">community@onetug.org</a>.</p><p>&nbsp;</p></div>

<div><p>Q. Do you provide room and boarding?<br />
A. Codecamp is a voluntary event with the meals/refreshments paid by sponsors. We do not pay for room and boarding for our attendees or speakers.</p><p>&nbsp;</p></div>

<div><p>Q. Do you have any special hotel deals for out-of-town attendees/speakers?<br />
A. We have partnered up with the Orlando Marriott in Lake Mary to offer a limited number of rooms on a first-come first-serve basis for $109.00 USD per night. The last day to use this offer is 13th March 2015. <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Orlando%20Net%20Code%20Camp%20March%202015^mcoml%60nccncca%60109.00%60USD%60false%603/27/15%603/29/15%603/13/15&app=resvlink&stop_mobi=yes">More details ....</a><p>&nbsp;</p></div>

<div><p>Q. Where can I find sponsorship information?<br />
A. Interested in sponsoring Codecamp? Check out the <a href="http://www.orlandocodecamp.com/Content/Documents/Orlando%20Code%20Camp%202015%20Contributor%20Information.pdf">sponsor package</a>.</p><p>&nbsp;</p></div>
