@{
    ViewBag.Title = "FAQ";
}

<div class="title">F.A.Q.</div>

<div>
    <p>
        Q. When and where is Seattle Codecamp?<br />
        A. The 14th Annual Seattle Codecamp will he held on September 12, 2015 at Seattle University located at 901 12th Avenue, Seattle, WA 98122.
    </p><p>&nbsp;</p>
</div>

<div>
    <p>
        Q. What is Seattle Codecamp?<br />
        A. Seattle Codecamp is one day learning event for programming professionals and students with a focus on coding, databases and related technologies. This is a "grass roots" mini application platform developer conferences, free to attendees and open to presenters of all stripes and experience.
    </p><p>&nbsp;</p>
</div>

<div>
    <p>
        Q. How much does it cost to attend?<br />
        A. Codecamp may be is free to attendees. Attendees will also be provided with free breakfast, lunch, and snacks throughout the day.
    </p><p>&nbsp;</p>
</div>
<div>
    <p>
        Q. Who is behind the Seattle Codecamp?<br />
        A. The Seattle Codecamp is organized by the <a href="http://dotnetda.org">.NET Developers Association</a>.
    </p><p>&nbsp;</p>
</div>

<div>
    <p>
        Q. Who can attend?<br />
        A. Anyone interested in the <a href="http://seattlecc.azurewebsites.net/Home/Sessions">sessions</a> can <a href="http://seattlecc.azurewebsites.net/Account/LogOn">signup to attend</a>. Attendees can signup beginning August 1st 2015 until the day before Codecamp.
    </p><p>&nbsp;</p>
</div>

<div>
    <p>
        Q. How does speaker approval process work?<br />
        A. Individual with expertise in any area/technology may <a href="http://seattlecc.azurewebsites.net/Session/SpeakerSessions">signup to speak</a>. We welcome speakers of all experience levels including first time speakers. Speaker signup starts on June 12th, 2015. A speaker may submit multiple sessions but we usually only approve one session per speaker. Speakers are notified on or after August 28th 2015. If for some reason, speakers are unable to fulfil their committment we ask that you contact us immediately at <a href="mailto:slobo@dotnetda.org">slobo@dotnetda.org</a>.
    </p><p>&nbsp;</p>
</div>

<div>
    <p>
        Q. Do you provide room and boarding?<br />
        A. Codecamp is a voluntary event with the meals/refreshments paid by sponsors. We do not pay for room and boarding for our attendees or speakers.
    </p><p>&nbsp;</p>
</div>

<div>
    <p>
        Q. Do you have any special hotel deals for out-of-town attendees/speakers?<br />
        A. Info coming soon.
        @*A. We have partnered up with the Seattle Marriott in Lake Mary to offer a limited number of rooms on a first-come first-serve basis for $109.00 USD per night. The last day to use this offer is 13th March 2015. <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Seattle%20Net%20Code%20Camp%20March%202015^mcoml%60nccncca%60109.00%60USD%60false%603/27/15%603/29/15%603/13/15&app=resvlink&stop_mobi=yes">More details ....</a>*@
    </p><p>&nbsp;</p>
</div>
<div>
    <p>
        Q. Where can I find sponsorship information?<br />
        A. Interested in sponsoring Code Camp? Info coming soon.
        @*Check out the <a href="http://seattlecc.azurewebsites.net/Content/Documents/Seattle%20Code%20Camp%202015%20Contributor%20Information.pdf">sponsor package</a>.*@
    </p><p>&nbsp;</p>
</div>
